@import "tailwindcss";

:root {
  --yplus-primary: #ead61f;
  --yplus-black: #000000;
  --yplus-white: #ffffff;
}

html, body {
  color: var(--yplus-black);
  background: var(--yplus-white);
}

a {
  text-decoration-color: var(--yplus-primary);
  text-underline-offset: 2px;
}
